name: testing_ros

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:    
  testing_humble:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - run: docker build . --file ./tests/Dockerfile_humble --tag r2r_test
    - run: docker run r2r_test

  testing_galactic:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - run: docker build . --file ./tests/Dockerfile_galactic --tag r2r_test
    - run: docker run r2r_test
